# 数据库配置
DATABASE_URI=mysql+pymysql://root:gt123456@localhost:3306/yoto_db

# Celery配置
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Flask配置
FLASK_ENV=development
FLASK_DEBUG=1 